@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-open {
  overflow: hidden;
}

.custom-scroll-bar::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: #00000000
}
  
.custom-scroll-bar::-webkit-scrollbar {
  border-radius: 6px;
  width: 8px;
  background-color: #00000000
}

.custom-scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #fff;
}


.no-scroll-bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scroll-bar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


/* autofill bg color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #f6005294;
}